! ------------------------------
! urxvt theme
! ------------------------------
urxvt*background:     #121212
urxvt*foreground:     #DDDDDD
!black
urxvt*color0:         #353535
urxvt*color8:         #666666
!red
urxvt*color1:         #AE4747
urxvt*color9:         #EE6363
!green
urxvt*color2:         #556B2F
urxvt*color10:        #9ACD32
!brown/yellow
urxvt*color3:         #DAA520
urxvt*color11:        #FFC125
!blue
urxvt*color4:         #6F99B4
urxvt*color12:        #7C96B0
!magenta
urxvt*color5:         #8B7B8B
urxvt*color13:        #D8BFD8
!cyan
urxvt*color6:         #A7A15E
urxvt*color14:        #F0E68C
!white
urxvt*color7:         #DDDDDD
urxvt*color15:        #FFFFFF

! clickable urls
URxvt.perl-ext-common: default,matcher
URxvt.urlLauncher: firefox
URxvt.matcher.button: 3
URxvt.matcher.pattern.1: \\bwww\\.[\\w-]\\.[\\w./?&@#-]*[\\w/-]
!URxvt.font: -*-terminus-medium-*-*-*-*-140-*-*-*-*-iso8859-1


XTerm*termName: xterm-256color
!XTerm*background: black
!XTerm*foreground: white
XTerm*faceName: inconsolata
XTerm*faceSize: 14


!-------------------------------------------------------------------------------
!
!
!      X T E R M
!
!
xterm*internalBorder:        0
xterm*loginShell:         true
xterm*scrollBar:         false
xterm*cursorBlink:        true
!xterm*geometry:         80x26
xterm*saveLines:         65535
xterm*dynamicColors:        on
xterm*highlightSelection: true
xterm*visualBell:        false
! Catch URLs?
xterm*charClass:     33:48,35-38:48,39:43,42-47:48,58-59:48,61:48,63-64:48,126:48
! Appearance
xterm*utf8:          2
xterm*eightBitInput: true
!xterm*faceName:      terminus
xterm*cursorColor:   #FFFFFF
! Zenburn
! xterm*background:  #3f3f3f
! xterm*background:  #3a3a3a
! xterm*foreground:  #dcdccc
! xterm*color0:      #1E2320
! xterm*color1:      #705050
! xterm*color2:      #60b48a
! xterm*color3:      #dfaf8f
! xterm*color4:      #506070
! xterm*color5:      #dc8cc3
! xterm*color6:      #8cd0d3
! xterm*color7:      #dcdccc
! xterm*color8:      #709080
! xterm*color9:      #dca3a3
! xterm*color10:     #c3bf9f
! xterm*color11:     #f0dfaf
! xterm*color12:     #94bff3
! xterm*color13:     #ec93d3
! xterm*color14:     #93e0e3
! xterm*color15:     #ffffff

! Desert
xterm*foreground:    #ffffff
xterm*background:    #1c1c1c
xterm*color0:      black
xterm*color1:      #ffa0a0
xterm*color2:      #bdb76b
xterm*color3:      #f0e68c
xterm*color4:      #87ceeb
xterm*color5:      #cd5c5c
xterm*color6:      #98fb98
xterm*color7:      #ffffff
xterm*color8:      gray60
xterm*color9:      #ffa0a0
xterm*color10:     #bdb76b
xterm*color11:     #f0e68c
xterm*color12:     #87ceeb
xterm*color13:     #cd5c5c
xterm*color14:     #98fb98
xterm*color15:     #ffffff

xclipboard*foreground:    #ffffff
xclipboard*background:    #1c1c1c
xclipboard*new.height: 0
xclipboard*Command*Font: -*-clean-medium-r-*-*-8-*-*-*-*-*-*-*
xclipboard*Label*Font: -*-clean-medium-r-*-*-8-*-*-*-*-*-*-*
xclipboard*Text*Font: -*-clean-medium-r-*-*-8-*-*-*-*-*-*-*
